<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quisquam
      sunt tenetur possimus earum eum animi beatae iusto atque. Sint a ratione
      illo, explicabo eveniet dicta optio perspiciatis fugiat ex.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Contents</header>
      <div class="card__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet fugit
        odit repudiandae explicabo quasi porro blanditiis veniam delectus alias
        perferendis!
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
  </div>
</section>
